*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
}
.hidden {
	display: none;
}
.carousel img {
	width: 100%;
	height: auto;
}
.parallax {
	background-attachment: fixed;
	background-position: 50% 0;
	position: relative;
}

/* My code*/

.page-header{
	background-image: url('../img/top_bg.jpg');
	background-repeat: repeat-x;
	background-position: top center;
	position: relative;
	min-height: 644px;
	font-family: "BebasBold", sans-serif;
}
.page-header a{ color: #ffffff; }
.top_line{
	padding: 22px 0;
	min-height: 97px;
	background-color: rgba(0,0,0, .60);
	top: 0;
	width: 100%;
	-webkit-box-shadow: rgba(255,255,255, .3) 0 0 0 1px;
	box-shadow: rgba(255,255,255, .3) 0 0 0 1px;
}
.top_line a{
	font-size: 22px;
	border-bottom: 1px dashed #fff;
	transition: 0.5s all;
}
.top_line a:hover{
	border-bottom: transparent;
}
.top_addr{
	line-height: 26px;
	padding-left: 50px;
	background-image: url('../img/top_map.png');
	background-repeat: no-repeat;
	background-position: top left;
}
.top_addr strong{
	font-size: 32px;
	color: #d12f22;
	display: block;
	text-transform: uppercase;
	font-weight: bold;
}

.logo_wrap{
	position: relative;
	width: 197px;
	margin: auto;
}
.top_line .logo{
	position: absolute;
	top: -20px;
	border-bottom: none;
}
.top_line .logo:hover{
	border-bottom: none;
}

.ta_right{
	text-align: right;
	background: none;
}
.ta_right span{
	color: #fff;
}

h1{
	font-family: "BebasRegular", sans-serif;
	color: #fff;
	font-size: 40px;
	text-align: center;
	margin-top: 65px;
	text-shadow: 0 3px rgba(0,0,0,0.55) ;
}
.buttons_top{
	position: absolute;
	bottom: 33px;
	width: 100%;
}
.page-header .button{
	margin-right: 20px;
}
.page-header .st_button{
	line-height: 18px;
	padding-top: 9px;
	background-image: url('../img/camera_icon.png');
	background-repeat: no-repeat;
	background-position: 8px center;
	padding-left: 60px;
	padding-right: 30px;
}
.button{
	background-color: #d12f22;
	display: inline-block;
	height: 50px;
	vertical-align: middle;
	line-height: 50px;
	padding: 0 25px;
	font-size: 20px;
	border-bottom: 3px solid #ac160a;
	color: #ffffff;
	font-family: 'BebasBold', sans-serif;
}
.button:hover{
	background-color: #e64437;
}
.button:active{
	background-color: #b81609;
}

.top_menu{
	font-family: "BebasRegular", sans-serif;
	height: 62px;
	background-color: #242424;
	-webkit-box-shadow: rgba(255,255,255, .3) 0 0 0 1px;
	box-shadow: rgba(255,255,255, .3) 0 0 0 1px;
	text-transform: uppercase;
}
.top_menu ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	/*overflow: hidden;*/
}
.top_menu ul li{
	float: left;
}
.top_menu ul li.active{
	background-color: #050505;
}
.top_menu ul li a{
	color: #ffffff;
	font-size: 20px;
	padding: 0 26px 0 50px;
	display: block;
	border-left: 1px solid #3b3b3b;
	line-height: 62px;
	transition: 1s all;
	background-image: url('../img/top_menu_iconset.png');
	background-repeat: no-repeat;
	background-position: 18px 12px;
}
.top_menu ul li:nth-child(2) a{
	background-position: 18px -105px;
	padding-left: 53px;
}
.top_menu ul li:nth-child(3) a{
	background-position: 18px -47px;
	padding-left: 45px;
}
.top_menu ul li:nth-child(4) a{
	background-position: 18px -170px;
	padding-left: 55px;
}
.top_menu ul li:nth-child(5) a{
	background-position: 18px -238px;
	padding-left: 55px;
}
.top_menu ul li:nth-child(6) a{
	background-position: 18px -307px;
	padding-left: 55px;
}
.top_menu ul li a:first-child{
	border-left: 1px solid transparent;
}
.top_menu ul li a:hover{
	background-color: #050505;
}
.garantia{
	float: right;
	color: #fff;
	border: 3px solid #ffffff;
	border-radius: 3px;
	padding: 3px 5px;
	line-height: 16px;
	margin-top: 8px;
}
.garantia__left{
	display: inline-block;
	vertical-align: top;
	font-family: "BebasBold", sans-serif;
	margin-top: 10px;
	margin-right: 8px;
}
.garantia__left span{
	font-family: "BebasBold", sans-serif;
	font-size: 34px;
}
.garantia__right{
	display: inline-block;
	vertical-align: top;
	font-size: 15px;
	font-family: 'RobotoCondensed', sans-serif;
}

.main_cats{
	background-color: #191919;
	padding: 20px 0 48px 0;
}
.main_cats h2{
	font-family: "RobotoCondensed", sans-serif;
	text-transform: uppercase;
	color: #c9c9c9;
	font-size: 40px;
	text-align: center;
	position: relative;
}
.main_cats h2:before{
	content: '';
	position: absolute;
	background-image: url('../img/h2_before.png');
	background-repeat: no-repeat;
	margin-left: -70px;
	top: 20px;
	width: 50px;
	height: 20px;
}
.main_cats h2:after{
	content: '';
	position: absolute;
	background-image: url('../img/h2_after.png');
	background-repeat: no-repeat;
	margin-left: 20px;
	top: 20px;
	width: 50px;
	height: 20px;
}
.main_cats h2 strong{
	color: #ffffff;
}
.main_cats h2 span{
	color: #d12f22;
}

.mc_wrap{
	font-size: 0;
	text-align: center;
	padding: 0;
	position: relative;
	margin-bottom: 40px;
}
	.mc_item_wrap{
		font-size: 20px;
		font-family: 'BebasBold', sans-serif;
		text-align: center;
		width: 168px;
		margin-left: 25px;
		display: inline-block;
	}
	.mc_item_wrap:first-child{
		margin-left: 0;
	}
	.mc_item_wrap:nth-child(2) span{
		background-position: -126px 0;
	}
	.mc_item_wrap:nth-child(3) span{
		background-position: -253px 0;
	}
	.mc_item_wrap:nth-child(4) span{
		background-position: -376px 0;
	}
	.mc_item_wrap:nth-child(5) span{
		background-position: -500px 0;
	}
	.mc_item_wrap:nth-child(6) span{
		background-position: -626px 0;
	}

		.mc_item{
			border: 1px solid #353535;
			border-radius: 2px;
		}
			.mc_item a{
				color: #ffffff;
			}
			.mc_item a:hover h4,
			.mc_item_wrap.active {
				text-decoration: underline;
			}
			.mc_item_wrap.active, .mc_item_wrap:hover {
				background: #2a2a2a;
			}

				.mc_item a span{
					display: block;
					height: 80px;
					width: 110px;
					margin: 10px auto;
					background-image: url('../img/cats_iconset.png');
					background-repeat: no-repeat;
				}
				.mc_item a h4{
					margin-top: 0;
					margin-bottom: 10px;
				}
.mc_toggle{
	background-color: #212121;
	height: 25px;
	position: relative;
	cursor: pointer;
	background-image: url('../img/mc_arr.png');
	background-repeat: no-repeat;
	background-position: 72px 9px;
}

.mc_item_wrap.active .mc_toggle, .mc_item_wrap:hover .mc_toggle{
	background-color: #353535;
	background-position: -118px 9px;
}

.mc_item_wrap ul{
	list-style-type: none;
	width: 100%;
	position: absolute;
	top: 100%;
	left: 0;
	padding: 20px;
	margin: 0;
	margin-top: 20px;
	background-color: #353535;
	z-index: 10;
	display: none;
}
.mc_item_wrap ul li{
	display: inline-block;
	margin: 0 6px;
}
.mc_item_wrap ul li a{
	color: #fefefe;
	font-size: 20px;
	text-decoration: underline;
	text-transform: uppercase;
}
.mc_item_wrap ul li a:hover{
	text-decoration: none;
}

.mc_item_wrap_af{
	width: 18px;
	height: 9px;
	background-image: url('../img/mc_c_arr.png');
	background-repeat: no-repeat;
	position: absolute;
	margin: 11px 72px;
	display: none;
}

.main_cats .mc_button{
	text-align: center;
}

.content{
	background-color: #e9e9e9;
}
	.content h2{
		font-family: "RobotoCondensed", sans-serif;
		text-transform: uppercase;
		color: #050505;
		font-size: 40px;
		text-align: center;
		position: relative;
		margin-bottom: 10px;
	}

.content h2:before{
	content: '';
	position: absolute;
	background-image: url('../img/art_h2_img.png');
	background-repeat: no-repeat;
	margin-left: -70px;
	top: 20px;
	width: 50px;
	height: 20px;
}
.content h2:after{
	content: '';
	position: absolute;
	background-image: url('../img/art_h2_img.png');
	background-repeat: no-repeat;
	background-position-x: -50px;
	margin-left: 20px;
	top: 20px;
	width: 50px;
	height: 20px;
}

.article_descr{
	text-align: center;
	color: #050505;
	max-width: 790px;
	margin: auto;
	margin-top: 0;
	font-weight: 600;
	margin-bottom: 35px;
}

.home_items{
	background-color: #d6d6d6;
	padding: 30px 0 0 0;
}
	.hi_item{
		color: #050505;
		text-align: center;
		font-size: 14px;
		font-weight: 600;
		min-height: 400px;
		margin-bottom: 50px;
	}
		.hi_item img{
			border-top: 8px solid #ac160a;
			max-width: 100%;
		}

.s_bottom{
	padding-top: 32px;
}
.sb_header{
	line-height: 52px;
	overflow: hidden;
}
	.sb_header h3{
		margin: 0;
		vertical-align: middle;
		text-transform: uppercase;
		font-size: 35px;
		font-family: 'BebasRegular', sans-serif;
	}
	.sb_header a{
		float: right;
		line-height: 52px;
	}

.sb_content{
	margin-top: 30px;
}
	.sb_content img{
		max-width: 100%;
	}
	.sb_content p{
		font-weight: 600;
	}

.footer{
	background-color: #2a2a2a;
	color: #ffffff;
	padding: 30px 0 35px 0;
	font-family: 'BebasBold', sans-serif;
}
.footer a{
	color: #ffffff;
}
.copyright{
	font-size: 20px;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}
.footer-menu{
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 0;
}
	.footer-menu li{
		display: inline-block;
		font-size: 20px;
		margin-right: 25px;
	}
	.footer-menu li:last-child{
		margin-right: 0;
	}
.stat{
	text-align: right;
}